<!-- Article -->
<h1><%= @article.title %></h1>

<p class="lead">
  by <%= @article.user.email %>
</p>

<hr>

<p>
  <span class="glyphicon glyphicon-time"></span><%= @article.created_at.strftime('%x') %>
</p>

<hr>

<%= image_tag @article.image.url(:large) %>

<hr>

<p class="lead"><%= @article.text %></p>

<hr>

<p>
  <span class="glyphicon glyphicon-tags"></span>
  <%= raw tag_links(@article.all_tags) %>
</p>

<hr>

<!-- Blog Comments -->
<!-- Comments Form -->
<%= render 'comments/form' %>

<hr>

<!-- Comment -->
<% if @article.comments.count == 0 %>
  <p>This article has no comments! Be first!</p>
<% else %>
  <%= render @article.comments %>
<% end %>

<p>
  <% if @article.user == current_user %>
      <%= link_to 'Edit', edit_article_path(@article) %>
  <% end %>

  <%= link_to 'Back', articles_path %>
</p>





