<%= form_for([@doctor, @doctor.patients.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
    
  <p>
    <%= f.label :age %><br>
    <%= f.text_area :age %>
  </p>
    
  <p>
    <%= f.submit %>
  </p>
<% end %>
