<%= link_to 'Add new doctor', new_doctor_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Specializaton</th>
    <th colspan="2"></th>
  </tr>

  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.name %></td>
      <td><%= doctor.specialization %></td>
      <td><%= link_to 'Show', doctor_path(doctor) %></td>
      <td><%= link_to 'Destroy', doctor_path(doctor), method: :delete %></td>
    </tr>
  <% end %>
</table>
